<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Use the title from a page's frontmatter if it has one -->
  <title>Carine Le Charlès | Développeuse web full stack</title>
  <meta name="description" content="Développeuse freelance basé à Bordeaux, je me tiens à votre disposition pour toute proposition de missions dans le développement web.">
  <meta name="keywords" content="site internet, développeur, développeuse, web, full stack, freelance, Bordeaux, mission, Ruby On rails, Javascript, html, css">

  <!-- Facebook Open Graph data -->
  <meta property="og:title" content="Carine Le Charlès | Développeuse web full stack">
  <meta property="og:type" content="website">
  <meta property="og:image" content="../images/banner.jpg">
  <meta property="og:description" content="Développeuse freelance basé à Bordeaux, je me tiens à votre disposition pour toute proposition de missions dans le développement web.">
  <meta property="og:url" content="https://www.carinelecharles.fr/">
  <meta property="fb:app_id" content="2162363410668536">
  <meta property="og:locale" content="fr_FR">

  <!-- Twitter Open Graph data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@rinou_lc">
  <meta name="twitter:title" content="Carine Le Charlès | Développeuse web full stack">
  <meta name="twitter:description" content="Développeuse freelance basé à Bordeaux, je me tiens à votre disposition pour toute proposition de missions dans le développement web.">
  <meta name="twitter:creator" content="@rinou_lc">
  <meta name="twitter:image:src" content="https://www.carinelecharles.fr/images/banner-8b28ba6d.jpg">

  <link rel="canonical" href="https://www.carinelecharles.fr">
  <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700|PT+Sans:400,700" rel="stylesheet">
  <link href="https://unpkg.com/aos@next/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>
  <%= favicon_tag "favicon.ico" %>
</head>
<body>
  <%= yield %>


  <script src="../javascripts/typed.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>
</html>
