.footer {
  background: $dark-blue;
  padding: 70px 0 50px 0;
  position: relative;
  .up {
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: $green;
    text-align: center;
    color: white;
    font-size: 2.2em;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.5s;
    line-height: 1.4em;
    border-radius: 5px;
    &:hover {
      opacity: 0.8;
    }
  }
  .social-icons {
    a {
      &:visited,
      &:link,
      &:active {
        transition: background 0.3s, text-shadow 0.3s, transform 0.3s;
        cursor: pointer;
        color: white;
        width: 55px;
        height: 55px;
        text-align: center;
        margin: 0 15px;
        background: $light-blue;
        font-size: 1.7em;
        border-radius: 5px;
      }
      &:hover {
        text-decoration: none;
        color: $light-blue;
      }
    }
  }

  .copyright {
    color: $light-gray;
    margin-top: 40px;
    font-size: .75em;
    font-weight: lighter;
    a {
      color: $light-gray;
      &:hover {
      text-decoration: none;
      opacity: 0.8;
      }
    }
  }
}

@media (hover: hover) {
  .social-icons {
    a:hover {
      background: $yellow !important;
      transform: scale(0.9);
      color: $light-blue;
    }
  }
}
