.navbar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: all 0.3s linear;
  height: 3.5em;
  li {
    font-family: "PT Sans", sans-serif;
    flex: 0 0 20%;
  }
  .logo-img {
    height: 2.3em;
  }
  a {
    position: relative;
  }
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
  }
  a.text-white::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: translateY(2px);
    transition: 0.3s linear;
  }
  a.text-white:hover::before {
    visibility: visible;
    transform: translateY(-2px);
  }
}

.navbar-fixed {
  background-color: $gray;
  position: fixed;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
