.overflow {
  overflow-x: hidden
}

#about-me {
  background-color: #3d00b2;
}

#skills {
  background-color: green;
}

#portfolio {
  background-color: pink;
}

#contact {
  background-color: $light-blue;
}

section {
  padding: 50px 0 130px 0;
  h1 {
    text-align: center;
    padding: 15px 0 15px 0;
    width: 100%;
    color: white;
    font-weight: bold;
    margin: 0;
  }
}

.header-bar {
  width: 10%;
  height: .25em;
  background: white;
}

