.overflow {
  overflow-x: hidden
}

#about-me {
  background-color: white;
}

#portfolio {
  background-color: white;
}

#skills {
  background-color: #f5f5f5;
}

#contact {
  background-color: $light-blue;
}

section {
  padding: 100px 0 130px 0;
  h1 {
    text-align: center;
    padding: 15px 0 15px 0;
    width: 100%;
    color: $gray;
    margin: 0;
  }
}

.header-bar {
  width: 10%;
  height: .2em;
  background: $gray;
}

