<div id="top">
  <div id="banner-info" class="height-all-screen position-relative d-flex align-items-center justify-content-center display-banner-info">
    <h1 class="d-none">Développeuse web full stack</h1>
    <h2 class="font-weight-bold text-center"><span id="typed"></span></h2>
    <div class="d-none d-sm-block scroll">
      <div class="scroll-icon position-relative">
        <div class="scroll-icon-dot"></div>
      </div>
    </div>
  </div>
</div>
