<div class="footer">
    <a href="#banner-info"><i class="fas fa-angle-double-up up"></i></a>
    <div class="social-icons d-flex align-items-center justify-content-center">
      <a href="https://www.linkedin.com/in/carine-le-charles/" target="_blank" class="d-flex align-items-center justify-content-center">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="http://www.viadeo.com/p/002174xj5a7aqllj" target="_blank" class="d-flex align-items-center justify-content-center">
        <i class="fab fa-viadeo"></i>
      </a>
      <a href="https://github.com/carineLC" target="_blank" class="d-flex align-items-center justify-content-center">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <div class="text-center copyright">© 2018 Carine Le Charlès. All rights reserved.</div>
  </div>
