<div class="footer">
  <a href="#top" title="page d'accueil"><i class="fas fa-angle-double-up up"></i></a>
  <div class="social-icons d-flex align-items-center justify-content-center">
    <a href="https://www.linkedin.com/in/carine-le-charles/" title="ma page Linkedin" rel="noopener" target="_blank" class="d-flex align-items-center justify-content-center">
      <i class="fab fa-linkedin-in"></i>
    </a>
    <a href="http://www.viadeo.com/fr/profile/carine.le-charles" title="ma page Viadeo" rel="noopener" target="_blank" class="d-flex align-items-center justify-content-center">
      <i class="fab fa-viadeo"></i>
    </a>
    <a href="https://github.com/carineLC" title="mes projets GitHub" rel="noopener" target="_blank" class="d-flex align-items-center justify-content-center">
      <i class="fab fa-github"></i>
    </a>
  </div>
  <div class="text-center copyright">© 2018 Carine Le Charlès. <a href="legalsmentions.html">Mentions légales</a></div>
</div>
