<!--  HAMBURGER MENU -->
<div id="toggle" class="button-container d-block d-sm-none">
  <span class="top"></span>
  <span class="middle"></span>
  <span class="bottom"></span>
</div>
<div id="overlay" class="overlay" aria-hidden="true">
  <nav class="overlay-menu">
    <ul>
      <li>
        <a href="">Qui suis-je ?</a>
      </li>
      <li>
        <a href="">Compétences</a>
      </li>
      <li>
        <a href="">Portfolio</a>
      </li>
      <li>
        <a href="">Contact</a>
      </li>
    </ul>
  </nav>
</div>

<div id="navbar" class="navbar bg-transparent d-flex justify-content-center">
  <!--   LOGO NAVBAR PHONE -->
  <a id="logo-navbar-phone" class="d-block d-sm-none invisible" href="">
    <img src="images/logo-yellow.png" alt="logo clc">
  </a>
  <!-- NAVBAR -->
  <ul class="w-100 m-0 list-inline d-flex justify-content-center align-items-center text-center">
    <li class="d-none d-sm-block"><a class="title" href="">Qui suis-je ?</a></li>
    <li class="d-none d-sm-block"><a class="title" href="">Compétences</a></li>
    <li class="d-none d-sm-block"><a href="">
      <img id="logo" src="images/logo-grey.png" alt="logo clc">
    </a></li>
    <li class="d-none d-sm-block"><a class="title" href="">Portfolio</a></li>
    <li class="d-none d-sm-block"><a class="title" href="">Contact</a></li>
  </ul>
</div>
