<!--  HAMBURGER MENU -->
<div id="toggle" class="button-container d-block d-md-none">
  <span class="top"></span>
  <span class="middle"></span>
  <span class="bottom"></span>
</div>
<div id="overlay" class="overlay" aria-hidden="true">
  <nav class="overlay-menu">
    <ul>
      <li>
        <a class="overlay-menu-element" href="#about-me" title="à propos de moi">Qui suis-je ?</a>
      </li>
      <li>
        <a class="overlay-menu-element" href="#skills" title="mon savoir-faire">Compétences</a>
      </li>
      <li>
        <a class="overlay-menu-element" href="#services" title="mes prestations">Services</a>
      </li>
      <li>
        <a class="overlay-menu-element" href="#contact" title="une petite bière ?">Contact</a>
      </li>
    </ul>
  </nav>
</div>

<div id="navbar" class="navbar bg-transparent d-flex justify-content-center">
  <!--   LOGO NAVBAR PHONE -->
  <a id="logo-navbar-phone" class="d-block d-md-none invisible" href="#home" title="page d'accueil">
    <img src="images/logo-yellow.png" alt="logo" title="logo navbar">
  </a>
  <!-- NAVBAR -->
  <ul class="w-100 m-0 list-inline d-flex justify-content-center align-items-center text-center">
    <li class="d-none d-md-block"><a class="title" href="#about-me" title="à propos de moi">Qui suis-je ?</a></li>
    <li class="d-none d-md-block"><a class="title" href="#skills" title="mon savoir-faire">Compétences</a></li>
    <li class="d-none d-md-block"><a href="#home" title="page d'accueil">
      <img id="logo" src="images/logo-grey.png" alt="logo" title="logo">
    </a></li>
    <li class="d-none d-md-block"><a class="title" href="#services" title="mes prestations">Services</a></li>
    <li class="d-none d-md-block"><a class="title" href="#contact" title="une petite bière ?">Contact</a></li>
  </ul>
</div>
