// Define variables for your color scheme

// For example:
$red: #ee5f5b;
$orange: #e67e22;

$light-gray: #f5f5f5;
$gray: #494949;
$yellow: #f7ec32;
$light-blue: #313a51;
$green: #1EA896;
$dark-blue: #1b242f;
