<div id="home" class="banner height-all-screen-navbar text-white" >
 <%= partial "shared/banner_info" %>
 <%= partial "shared/navbar" %>
</div>

<div class="overflow" ontouchstart="">

  <span class="anchor" id="about-me"></span>
  <section class="about-me">
    <div class="container d-flex align-items-center justify-content-center flex-column">
      <h2 data-aos="fade-right" data-aos-once="true">Qui suis-je?</h2>
      <div class="header-bar" data-aos="fade-right" data-aos-delay="200" data-aos-once="true"></div>
      <div class="row profile d-flex align-items-center">
        <div class="col-12 col-md-6 text-center">
          <img src="images/carine.jpg" alt="photo de Carine" title="Carine Le Charlès" data-aos="fade-right" data-aos-duration="700" data-aos-once="true">
        </div>
        <div class="col-12 col-md-6">
          <div class="profile-content">
            <p class="text-justify" data-aos="fade-left" data-aos-duration="700" data-aos-once="true" >
              Degemer mat ! Bienvenue ! Malouine de naissance, je vis maintenant à Bordeaux. Je suis développeuse web full stack. J'ai la capacité de créer en totale autonomie une application web poussée, autant sur la partie front-end que sur la partie back-end.
              <br>
              <br>
              Vous souhaitez avoir une présence en ligne ? Présenter un prototype ? Développer votre produit ? Je souhaite à travers votre projet faire ressortir une expérience unique qui permettra de partager votre vision à vos clients.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

    <span class="anchor" id="skills"></span>
    <section class="skills" >
      <div class="container d-flex align-items-center justify-content-center flex-column">
        <h2 data-aos="fade-left" data-aos-once="true">Compétences</h2>
        <div class="header-bar" data-aos="fade-lef" data-aos-delay="200" data-aos-once="true"></div>
        <div id="about" class="timeline-container">
          <div id="timeline">
            <div class="timeline-item">
              <div class="timeline-icon d-flex align-items-center justify-content-center" data-aos="zoom-in" data-aos-once="true" data-aos-duration="1000">
                <i class="fas fa-handshake"></i>
              </div>
              <div class="timeline-content" data-aos="fade-left" data-aos-once="true" data-aos-duration="700">
                <h3>Collaboration</h3>
                <div class="row">
                  <div class="col-4 card-logo git">
                    <a href="https://git-scm.com/" title="logiciel de gestion de versions décentralisé" rel="noopener" target="_blank" class="d-flex align-items-center justify-content-center flex-column">
                      <i class="devicon-git-plain size-logo"></i>
                      <p>Git</p>
                    </a>
                  </div>
                  <div class="col-4 card-logo github">
                    <a href="https://github.com/" title="plateforme open source de gestion de versions et de collaboration" rel="noopener" target="_blank" class="d-flex align-items-center justify-content-center flex-column">
                      <i class="devicon-github-plain size-logo"></i>
                      <p>GitHub</p>
                    </a>
                  </div>
                  <div class="col-4 card-logo slack">
                    <a href="https://slack.com/" title="plateforme qui centralise les flux de travail" rel="noopener" target="_blank" class="d-flex align-items-center justify-content-center flex-column">
                      <span class="size-img"><img src="images/slack.svg" alt="slack"></span>
                      <p>Slack</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="timeline-item">
              <div class="timeline-icon d-flex align-items-center justify-content-center" data-aos="zoom-in" data-aos-once="true" data-aos-duration="1000">
                <i class="fas fa-lightbulb"></i>
              </div>
              <div class="timeline-content" data-aos="fade-left" data-aos-once="true" data-aos-duration="700">
                <h3>Conception</h3>
                <div class="row">
                  <div class="col-4 card-logo figma">
                    <a href="https://www.figma.com/" title="outil collaboratif pour le design d'interface" rel="noopener" target="_blank" class="d-flex align-items-center justify-content-center flex-column">
                      <span class="size-img"><img src="images/figma.svg" alt="figma"></span>
                      <p>Figma</p>
                    </a>
                  </div>
                  <div class="col-4 card-logo sql">
                    <a href="https://fr.wikipedia.org/wiki/Structured_Query_Language" title="angage de requête structurée" rel="noopener" target="_blank" class="d-flex align-items-center justify-content-center flex-column">
                      <i class="fas fa-database size-logo"></i>
                      <p>SQL</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="timeline-item">
              <div class="timeline-icon d-flex align-items-center justify-content-center" data-aos="zoom-in" data-aos-once="true" data-aos-duration="1000">
                <i class="fas fa-keyboard"></i>
              </div>
              <div class="timeline-content" data-aos="fade-left" data-aos-once="true" data-aos-duration="700">
                <h3>Développement</h3>
                <div class="row">
                  <div class="col-4 card-logo ruby">
                    <a href="https://www.ruby-lang.org/en/" title="langage open-source dynamique" rel="noopener" target="_blank" class="d-flex align-items-center justify-content-center flex-column">
                      <i class="devicon-ruby-plain size-logo"></i>
                      <p>Ruby</p>
                    </a>
                  </div>
                  <div class="col-4 card-logo rails">
                    <a href="https://rubyonrails.org/" title="framework web libre écrit en Ruby" rel="noopener" target="_blank" class="d-flex align-items-center justify-content-center flex-column">
                      <i class="devicon-rails-plain size-logo"></i>
                      <p>Rails</p>
                    </a>
                  </div>
                  <div class="col-4 card-logo javascript">
                    <a href="https://fr.wikipedia.org/wiki/JavaScript" title="langage de script" rel="noopener" target="_blank" class="d-flex align-items-center justify-content-center flex-column">
                      <i class="devicon-javascript-plain size-logo"></i>
                      <p>JavaScript</p>
                    </a>
                  </div>
                  <div class="col-4 card-logo postgresql">
                    <a href="https://www.postgresql.org/" title="système de gestion de base de données" rel="noopener" target="_blank" class="d-flex align-items-center justify-content-center flex-column">
                      <i class="devicon-postgresql-plain size-logo"></i>
                      <p>PostgreSQL</p>
                    </a>
                  </div>
                  <div class="col-4 card-logo html">
                    <a href="https://en.wikipedia.org/wiki/HTML" title="langage de balisage" rel="noopener" target="_blank" class="d-flex align-items-center justify-content-center flex-column">
                      <i class="devicon-html5-plain size-logo"></i>
                      <p>HTML</p>
                    </a>
                  </div>
                  <div class="col-4 card-logo css">
                    <a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets" title="langage qui décrit la présentation des documents HTML et XML" rel="noopener" target="_blank" class="d-flex align-items-center justify-content-center flex-column">
                      <i class="devicon-css3-plain size-logo"></i>
                      <p>CSS</p>
                    </a>
                  </div>
                  <div class="col-4 card-logo stripe">
                    <a href="https://stripe.com" title="plateforme de paiements" rel="noopener" target="_blank" class="d-flex align-items-center justify-content-center flex-column">
                      <span class="size-img"><img src="images/stripe.svg" alt="stripe"></span>
                      <p>Stripe</p>
                    </a>
                  </div>
                  <div class="col-4 card-logo mailchimp">
                    <a href="https://mailchimp.com/en/" title="logiciel emailing" rel="noopener" target="_blank" class="d-flex align-items-center justify-content-center flex-column">
                      <span class="size-img"><img src="images/mailchimp.svg" alt="mailchimp"></span>
                      <p>Mailchimp</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="timeline-item">
              <div class="timeline-icon d-flex align-items-center justify-content-center" data-aos="zoom-in" data-aos-once="true" data-aos-duration="1000">
                <i class="fas fa-rocket"></i>
              </div>
              <div class="timeline-content" data-aos="fade-left" data-aos-once="true" data-aos-duration="700">
                <h3>Production</h3>
                <div class="row"></div>
                <div class="col-4 card-logo heroku">
                  <a href="https://www.heroku.com/" title="service de cloud computing" rel="noopener" target="_blank" class="d-flex align-items-center justify-content-center flex-column">
                    <i class="devicon-heroku-plain size-logo"></i>
                    <p>Heroku</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <span class="anchor" id="services"></span>
    <section class="services">
      <div class="container d-flex align-items-center justify-content-center flex-column">
        <h2 data-aos="fade-right" data-aos-once="true">Services</h2>
        <div class="header-bar" data-aos="fade-right" data-aos-delay="200" data-aos-once="true"></div>
        <div id="services-list">
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="card-services card-services-webdesign d-flex align-items-center justify-content-center" data-aos="flip-left" data-aos-duration="700" data-aos-once="true">
                <h2 class="card-services-content">Web design</h2>
                <div class="card-services-hover d-flex align-items-center justify-content-center">
                  <p>Convevoir une interface web simple, ergonomique et facile d'utilisation pour améliorer l'expérience utilisateur.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="card-services card-services-responsivedesign d-flex align-items-center justify-content-center" data-aos="flip-left" data-aos-delay="200" data-aos-duration="700" data-aos-once="true">
                <h2 class="card-services-content">Responsive design</h2>
                <div class="card-services-hover d-flex align-items-center justify-content-center">
                  <p>Adapter le contenu et l’apparence du site en fonction du type d’appareil utilisé pour le consulter (ordinateur, tablette ou smartphone).</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="card-services card-services-webdev  d-flex align-items-center justify-content-center" data-aos="flip-left" data-aos-delay="400" data-aos-duration="700" data-aos-once="true">
                <h2 class="card-services-content">Web development</h2>
                <div class="card-services-hover d-flex align-items-center justify-content-center">
                  <p>Développer un site vitrine jusqu'au site dynamique avec une connexion à une base de données. La seule limite est votre imagination !</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <span class="anchor" id="contact"></span>
    <section class="contact">
      <div class="container d-flex align-items-center justify-content-center flex-column">
        <h2 data-aos="fade-left" data-aos-once="true">Contact</h2>
        <div class="header-bar" data-aos="fade-left" data-aos-delay="200" data-aos-once="true"></div>
        <p class="contact-description" data-aos="fade-right" data-aos-delay="400" data-aos-once="true">Envie d'échanger sur ton projet ?</p>
        <div class="row">
          <div class="col d-flex justify-content-center">
            <form id="contactForm" data-aos="zoom-in" data-aos-delay="600" data-aos-duration="700" data-aos-once="true" method="POST" name="contactForm" class="contactForm">
              <div class="form-group">
                <input type="text"  name="name" placeholder="Nom*" required>
                <input type="email" name="email" placeholder="Email*" required>
                <input type="tel" name="téléphone" placeholder="Téléphone">
                <textarea name="message" placeholder="Message*" required></textarea>
              </div>
              <div id="success">
                <div>Votre message a été envoyé avec succès. Merci !
                  <span id="close" class="mdi"><i class="fas fa-times"></i></span>
                </div>
              </div>
              <input type="submit" value="Envoyer" id="submit">
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>

  <%= partial "shared/footer" %>

  <%= partial "script_index" %>
